/* Здесь вы напишете основную часть стилей страницы.
text
Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background-gradient);
  font-family: var(--font-family-hbf), monospace;
  font-variation-settings: "wgth" var(--font-weight-s),
    "wgth" var(--font-weight-l);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--font-family-hbf), sans-serif;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--border-color);
  background-color: var(--bg-page);
  gap: 20px;
  width: 100%;
  max-width: 700px;
  margin-block: 100px;
  height: 368px;
  align-items: center;
}

.header_title {
  font-family: var(--font-family-hbf), monospace;
  text-transform: var(--text-transform);
  color: var(--color-m);
  font-size: var(--font-size-header);
}

.header_text {
  font-family: var(--font-family-hbf) monospace;
  font-size: var(--font-size-header-text);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.span {
  font-size: var(--font-size-html-card);
  color: var(--color-m);
  font-family: var(--font-family-hbf), monospace;
  font-variation-settings: "wgth" var(--font-weight-simple);
  display: block;
  position: absolute;
  opacity: 0.5;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  text-shadow: 0 1px var(--color-span), 1px 0 var(--color-span);
  top: 25px;
  right: 25px;
}

@supports (
  (text-stroke: 1px var(--color-span)) or
    (-webkit-twxt-stroke: 1px var(--color-span))
) {
  .span_text {
    -webkit-stroke: 1px var(--color-span);
    text-stroke: 1px var(--color-span);
    text-shadow: none;
  }
}

.main_part {
  display: grid;
  grid-template-columns: minmax(320px, 700px);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 53px;
}

.articles {
  height: 100%;
  background-color: var(--bg-page);
  border: 2px solid var(--border-color);
}

.article_title {
  color: var(--color-m);
  font-size: var(--font-size-simple-text);
  font-family: var(--font-family-text), sans-serif;
  padding: 4px 10px;
  font-variation-settings: "wgth" var(--font-weight-l);
}

.article_content {
  flex-direction: column;
}

.article_image {
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.article_content_text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 25px 0px 25px;
  font-variation-settings: "wgth" var(--font-weight-s);
  font-family: var(--font-family-text);
  font-size: var(--font-size-simple-text);
  line-height: 21px;
}

/* ФИЛЬТРЫ  */

.image_work{
filter: brightness(50%);
}

.image_clean {
filter: contrast(10%);
}

.image_question{
filter: blur(3.2rem);
}

.image_ideal {
filter: opacity(0.8);
}

.iname_near {
filter: grayscale(0.7);
}

.image_strateges {
filter: saturate(160%);
}

.image_hands {
filter: hue-rotate(-90deg);
}

.image_hear {
filter: sepia(1) contrast(2) brightness(150%);
}

/* ПИЗДЕЦ!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.button {
  position: relative;
  display: flex;
  justify-self: center;
  align-items: center;
  background: none;
  border: 2px solid var(--border-color);
  padding: 0px 35px;
  background-color: var(--bg-page);
  cursor: pointer;
  gap: 7px;
  transition: box-shadow 0.3s ease;
}

.button:focus {
outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--color-m);
}

/* .button:hover::before {
  width: 100%;
} */

.card__like-button {
  display: flex;
  justify-items: center;
  justify-self: end;
  padding: 25px;
}

.button__text {
  font-family: var(--font-family-hbf), monospace;
  font-size: var(--font-size-html-card);
  font-weight: var(--font-weight-simple);
  /* z-index: 2; */
  /* text-transform: uppercase; */
}

.card__icon-button {
  display: flex;
  justify-items: center;
  justify-content: center;
  cursor: pointer;
  height: 35px;
  transition: border 0.3s ease;
  background: var(--heart-color);
  border: none;
  /* padding: 0; */
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--color-m);
  transition: border 0.3s ease;
}

.button::before {
  content: " ";
  /* z-index: 1; */
  /* background-color: var(--color-m); */
  transition: width 0.5s ease-in-out;
}


.like-icon {
  transform-origin: center;
  height: 39px;
  width: 36px;
}

.core {
  fill: var(--heart-color);
  transition: fill 0.3s 0.3s linear;
}

.main-body {
  fill: var(--heart-color);
  transition: fill 0.3s linear;
}

.contour {
  fill: var(--heart-color);
  transition: fill 0.1s linear;
}

.sparks {
  fill: var(--button-press);
  opacity: none;
}

.like-icon:hover .core {
  fill: var(--color-m);
  transition: fill 0.3s linear;
}


.like-icon:hover .main-body {
  fill: var(--color-m);
  transition: fill 0.3s 0.5s linear;
}

.like-icon:active .core {
  fill: var(--button-press);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--button-press);
  transition: fill 0.3s 0.5s linear;
}

.like-icon.is-liked .heart_icon {
  animation-duration: 0.3s;
  animation-delay: 0.1s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  fill: var(--button-press);
  animation-name: heart_icon;
}

.like-icon.is-liked .contour {
  fill: var(--button-press);
  transition: fill 0.3s 0.05s linear;
  animation-name: contour;
}

.like-icon.is-liked .sparks {
  animation-duration: 0.3s;
  animation-delay: 0.3s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  animation-name: sparks;
}

.like-icon.is-liked .main-body,
.like-icon.is-liked .core{
  fill: var(--button-press);
  transition: fill 0.3s linear;
}

/* КОНЕЦ ПИЗДЕЦА + ДОДЕЛАТЬ!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* ПОДВАЛ */

.footer {
  display: grid;
  grid-template-columns: minmax(320px, 700px);
  color: var(--color-m);
  background-color: var(--background-gradient);
  /* border: 2px solid var(--border-color); */
  justify-content: center;
  padding-block-start: 49px;
  margin-block-end: 100px;
}

.button_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 17px 13px;
}

.footer_icon {
  display: block;
  width: 21px;
  height: 21px;
}

.dialog_footer {
  background-color: var(--bg-page);
  border: 2px solid var(--color-m);
}

.dialog_footer::backdrop {
  background-color: rgba(0 0 0 / 0.75);
}

.footer_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100%;
  max-height: 191px;
}

.dialog_footer_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.dialog_footer-icon {
  width: 39px;
  height: 39px;
}

.dialog_footer_text {
  font-family: var(--font-family-hbf), monospace;
  font-variation-settings: "wgth" var(--font-weight-simple);
  font-size: var(--font-size-html-card);
  line-height: 21px;
  text-transform: uppercase;
  width: 100%;
  max-width: 234px;
}

.footer_dialog {
  display: block;
  background-color: var(--bg-page);
  border: 2px solid var(--border-color);
  width: 100%;
  height: 100%;
  max-width: 293px;
  max-height: 38px;
  padding: 12.5px 132px;
}

@media (width <= 375px) {
  .header {
    height: 327px;
  }

  .cards {
    gap: 55px;
  }

  .footer_icon {
    width: 28px;
    height: 28px;
  }


  .button_footer {
    display: flex;
    flex-direction: column;
    padding: 15px 17px;
  }
}
