/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background-gradient);
  font-family: var(--font-family-hbf), monospace;
  font-variation-settings: "wdth" var(--font-weight-s), "wdth" var(--font-weight-l);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

@supports (font-variation-settings: normal){
  .page{
    font-family: var(--font-family-hbf), monospace;
  }
} 
 /* ПОЧ НЕ РАБОТАЕТ */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--border-color);
  background-color: var(--bg-page);
  gap: 20px;
  width: 100%;
  height: 327px;
  margin-block: 100px;
}

.header_title {
  font-family: var(--font-weight-l) monospace;
  text-transform: var(--text-transform);
  color: var(--color-m);
  font-variation-settings: "wdth" var(--font-weight-l);
}

.header_text {
  font-size: var(--font-size-header-text);
}

.main{
 background-color: var(--bg-page); 
}

.cards{
  display: flex;
  flex-direction: column;
gap: 50px;
}
.articles {
 background-color: var(--bg-page);
 border: 2px solid var(--border-color);
}
