/* Здесь вы напишете основную часть стилей страницы.
text
Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background-gradient);
  font-family: var(--font-family-hbf), monospace;
  font-variation-settings: "wgth" var(--font-weight-s),
    "wgth" var(--font-weight-l);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--font-family-hbf), sans-serif;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--border-color);
  background-color: var(--bg-page);
  gap: 20px;
  width: 100%;
  max-width: 700px;
  margin-block: 100px;
  height: 368px;
}

.header_title {
  font-family: var(--font-family-hbf), monospace;
  text-transform: var(--text-transform);
  color: var(--color-m);
  font-size: var(--font-size-header);
}

.header_text {
  font-family: var(--font-family-hbf) monospace;
  font-size: var(--font-size-header-text);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.span {
  font-size: var(--font-size-html-card);
  color: var(--color-m);
  font-family: var(--font-family-hbf), monospace;
  font-variation-settings: "wgth" var(--font-weight-simple);
  display: block;
  position: absolute;
  opacity: 0.5;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0px var(--color-span), 0px 1px var(--color-span),
    1px 0px var(--color-span), 0px -1px var(--color-span);
  top: 25px;
  right: 25px;
}

@supports (
  (text-stroke: 1px var(--label-color)) or
    (-webkit-text-stroke: 1px var(--label-color))
) {
  .card__image-label {
    -webkit-text-stroke: 1px var(--label-color);
    text-stroke: 1px var(--label-color);
    text-shadow: none;
  }
}

.main_part {
  display: grid;
  grid-template-columns: minmax(320px, 700px);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.articles {
  height: 100%;
  background-color: var(--bg-page);
  border: 2px solid var(--border-color);
}

.article_title {
  color: var(--color-m);
  font-size: var(--font-size-simple-text);
  font-family: var(--font-family-text), sans-serif;
  margin: 4px 10px;
  font-variation-settings: "wgth" var(--font-weight-l);
}

.article_content {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-block-end: 25px;
}

.article_image {
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.article_content_text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 25px 25px 21px;
  font-variation-settings: "wgth" var(--font-weight-s);
  font-family: var(--font-family-text);
  font-size: var(--font-size-simple-text);
  line-height: 21px;
}

/* ФИЛЬТРЫ  */

.image_work {
  filter: brightness(50%);
}

.image_clean {
  filter: contrast(10%);
}

.image_question {
  filter: blur(3.2rem);
}

.image_ideal {
  filter: opacity(0.8);
}

.iname_near {
  filter: grayscale(0.7);
}

.image_strateges {
  filter: saturate(160%);
}

.image_hands {
  filter: hue-rotate(-90deg);
}

.image_hear {
  filter: sepia(1) contrast(2) brightness(150%);
}


.like-icon {
  width: 39px;
  height: 36px;
  transform-origin: center;
}

.card__like {
  display: flex;
  align-items: center;
  gap: 5px;
  align-self: flex-end;
}

.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 35px;
  transition: border 0.3s ease;
  background: var(--heart-color);
  border: none;
  padding: 0;
}

.core {
  fill: var(--heart-color);
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  fill: var(--heart-color);
  transition: fill 0.3s linear;
}

.contour {
  fill: var(--border-color);
  transition: fill 0.1s linear;
}

.sparks {
  fill: var(--button-press);
  opacity: 0;
}

.main-body,
.core {
  fill: var(--heart-color);
}

.like-icon:hover .core {
  fill: var(--color-m);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--color-m);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--button-press);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--button-press);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .heart_icon {
  animation-duration: 0.3s;
  animation-delay: 0.1s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  fill: var(--button-press);
  animation-name: heart-icon;
}

.like-icon.is-liked .contour {
  fill: var(--button-press);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .sparks {
  animation-duration: 0.3s;
  animation-delay: 0.3s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  animation-name: sparks;
}

.like-icon.is-liked .main-body,
.like-icon.is-liked .core {
  fill: var(--button-press);
  transition: fill 0.3s linear;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--color-m);
}

.button {
  font-family: var(--font-family-hbf), fantasy;
  font-variation-settings: "wght" var(--font-weight-simple);
  font-size: var(--font-size-html-card);
  position: relative;
  display: flex;
  color: var(--bg-page);
  justify-content: center;
  align-items: center;
  border: 2px solid var(--border-color);
  background: var(--heart-color);
  background-color: var(--bg-page);
  cursor: pointer;
  gap: 8px;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  min-height: 38px;
}

.button__text {
  /* z-index: 2; */
  /* position: relative; */
  mix-blend-mode: difference;
}

.card__like-button {
  display: flex;
  justify-items: center;
  justify-content: center;
  margin-inline-end: 25px;
  height: 38px;
  width: 130px;
}

.button::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--color-m);
  transition: width 0.5s ease-in-out;
}

.button:hover::before {
  width: 100%;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--color-m);
}

.card__icon-button:has(.is-liked) + .card__like-button {
  padding: 10px 20px;
}



/* ПОДВАЛ */

.disketa {
  display: flex;
  grid-template-columns: minmax(320px, 700px);
  color: var(--color-m);
  background-color: var(--background-gradient);
  justify-content: center;
  padding-block-start: 49px;
  margin-block-end: 100px;
}

.button_disk {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 17px 16px;
  width: fit-content;
}

.disk_icon {
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
}

.dialog_disk {
  background-color: var(--bg-page);
  border: 2px solid var(--color-m);
}

.dialog_disk::backdrop {
  background-color: rgba(0 0 0 / 0.75);
}

.disk_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100%;
  max-height: 191px;
}

.dialog_disk_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.dialog_disk-icon {
  width: 39px;
  height: 39px;
  mix-blend-mode: difference;
}

.dialog_disk_text {
  font-family: var(--font-family-hbf), monospace;
  font-variation-settings: "wgth" var(--font-weight-simple);
  font-size: var(--font-size-html-card);
  line-height: 21px;
  text-transform: uppercase;
  width: 100%;
  max-width: 234px;
}

.disketa_dialog {
  display: block;
  background-color: var(--bg-page);
  border: 2px solid var(--border-color);
  width: 100%;
  height: 100%;
  max-width: 293px;
  max-height: 38px;
  padding: 12.5px 132px;
}

@media (width <= 375px) {
  .header {
    height: 327px;
  }

  .cards {
    gap: 56px;
  }

  .disk_icon {
    width: 28px;
    height: 28px;
  }

  .button_disk {
    display: flex;
    flex-direction: column;
    padding: 18px 16.5px;
  }
}
