/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background-gradient);
  font-family: var(--font-family-hbf), monospace;
  font-variation-settings: "wgth" var(--font-weight-s),
    "wgth" var(--font-weight-l);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--font-family-hbf), sans-serif;
  }
}
/* ПОЧ НЕ РАБОТАЕТ!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--border-color);
  background-color: var(--bg-page);
  gap: 20px;
  width: 100%;
  max-width: 700px;
  margin-block: 100px;
  height: 368px;
  padding-block: 100px;
  align-items: center;
}

.header_title {
  font-family: var(--font-weight-l) monospace;
  text-transform: var(--text-transform);
  color: var(--color-m);
  font-size: var(--font-weight-l);
}

.header_text {
  font-family: var(--font-weight-l) monospace;
  font-size: var(--font-size-header-text);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
  /* width: !!!!!!!!!!!!!!!!!!!!!!!!! */
}
.articles {
  width: 100%;
  max-width: 700px;
  background-color: var(--bg-page);
  border: 2px solid var(--border-color);
}

.article_title {
  color: var(--color-m);
  font-size: var(--font-size-simple-text);
  font-family: var(--font-family-text), sans-serif;
  padding: 4px 10px;
  font-variation-settings: "wgth" var(--font-weight-l);
}

.article_content {
  flex-direction: column;
}

.article_image {
  /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
}

.article_content_text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  font-variation-settings: "wgth" var(--font-weight-s);
  font-family: var(--font-family-text);
  font-size: var(--font-size-simple-text);
  line-height: 21px;
}

.button {
  position: relative;
  display: flex;
  justify-self: center;
  align-items: center;
  background: none;
  border: 2px solid var(--border-color);
  padding: 12.5px;
  background-color: var(--bg-page);
}
.card__like-button {
  display: flex;
  gap: 5px;
  justify-items: center;
  justify-self: end;
  padding: 25px;
}

.button__text {
  font-family: var(--font-weight-l) monospace;
  font-size: var(--font-size-header-text);
}

.card__icon-button {
  display: flex;
  justify-items: center;
  justify-content: center;
  cursor: pointer;
  height: 35px;
  transition: border 0.3s ease;
  background: transparent;
  border: none;
}
