/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-family-hbf: "PressStart2P";
  --font-family-text: "Inter-Variable";
  --heart-color: transparent;
  --font-weight-s: 410;
  --font-weight-l: 715;
  --font-weight-simple: 400;
  --color-m: black;
  --bg-page: #ffffff;
  --border-color: #000000;
  --button-hover: white;
  --color-span: rgba(255,255,255);
  --button-press: rgba(255, 0, 0, 1);
  --icon-fill: red;
  --font-size-simple-text: 18px;
  --font-size-html-card: 14px;
  --font-size-header: clamp(3.0625rem, 2.7104rem + 1.5023vw,4.0625rem);
  --font-size-header-text: clamp(0.875rem, 0.6769rem + 0.8451vw,1.4375rem);
  --text-transform: uppercase;
  --background-gradient: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
}
