/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root{
    --font-family-hbf: 'Press Start 2P';
    --font-family-text: 'Inter';
    --font-weight-s: 410;
    --font-weight-l: 715;
    --color-m: black;
    --font-size-header-text: 14px;
    --text-transform: uppercase;
    --bg-page: #FFFFFF;
    --border-color: #000000;
    --font-size-logo: clamp(2rem, 1px + 12.8vw, 4rem); /*49px*/
    --gap: clamp(1.75rem, calc(0.3125rem + 0.9375em + 8.5333vi), 3.125rem ); /*50px*/
     --background-gradient: 
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg,  #e7e7e7 0.01%, #1a1a1a 100%);
    
}